{{- if .Values.kafka.strimziClusterName }}
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaUser
metadata:
  name: {{ include "fhir-gateway.fullname" . }}-kafka-user
  labels:
    strimzi.io/cluster: {{ .Values.kafka.strimziClusterName }}
spec:
  authentication:
    type: tls
{{- end }}
