apiVersion: v2
name: stream-processors
description: A Helm chart for deploying a set of Kafka stream processing apps
type: application
version: 1.1.3
home: https://gitlab.miracum.org/miracum/etl/streams
