apiVersion: v2
name: vfps
description: A Helm chart for deploying VFPS, a very fast and resource-efficient pseudonym service.
type: application
home: https://github.com/miracum/vfps
keywords:
  - grpc
  - pseudonymization
  - research
  - data protection
  - FHIR
sources:
  - https://github.com/miracum/vfps
maintainers:
  - name: miracum
dependencies:
  - name: postgres
    version: 0.7.0
    repository: oci://registry-1.docker.io/cloudpirates
    condition: postgres.enabled
  - name: common
    repository: oci://ghcr.io/miracum/charts
    version: 0.1.1
deprecated: false
kubeVersion: ">= 1.19.0"
version: 3.0.15
appVersion: "1.x"
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/cloudpirates-postgres/postgres
    - url: https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
  artifacthub.io/screenshots: |
    - title: Screenshot of the OpenAPI/Swagger UI for the REST API
      url: https://raw.githubusercontent.com/miracum/vfps/master/docs/img/openapi.png
  # When using the list of objects option the valid supported kinds are
  # added, changed, deprecated, removed, fixed and security.
  artifacthub.io/changes: |-
    # When using the list of objects option the valid supported kinds are
    # added, changed, deprecated, removed, fixed and security.
    - kind: changed
      description: "Updated docker.io/curlimages/curl to sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40"
