apiVersion: v2
name: fhir-gateway
description: A Helm chart for deploying the MIRACUM FHIR Gateway
type: application
sources:
  - https://github.com/miracum/fhir-gateway
home: https://github.com/miracum/fhir-gateway
dependencies:
  - name: postgres
    version: 0.14.4
    repository: oci://registry-1.docker.io/cloudpirates
    condition: postgres.enabled
  - name: fhir-pseudonymizer
    condition: fhir-pseudonymizer.enabled
    version: 0.8.27
    repository: oci://ghcr.io/miracum/charts
  - name: common
    repository: oci://ghcr.io/miracum/charts
    version: 0.1.1
version: 9.0.57
annotations:
  # When using the list of objects option the valid supported kinds are
  # added, changed, deprecated, removed, fixed and security.
  artifacthub.io/changes: |-
    # When using the list of objects option the valid supported kinds are
    # added, changed, deprecated, removed, fixed and security.
    - kind: changed
      description: "Updated ghcr.io/miracum/fhir-gateway to v4.0.13"
