name: Lint and Test Charts

on:
  pull_request:
    branches: [master]

permissions:
  contents: read

# https://stackoverflow.com/a/72408109
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  chart-lint:
    name: Lint Charts
    runs-on: ubuntu-24.04
    container: ghcr.io/chgl/kube-powertools:v2.5.15@sha256:d7050c728f9f73b55531d71aa5e1be8509a7764d9dd1c3c8eed578aee3c2ac88
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs
          disable-sudo: true
          disable-telemetry: true

      - name: Add workspace as safe directory
        run: |
          git config --global --add safe.directory /__w/charts/charts

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check if documentation is up-to-date
        run: |
          generate-docs.sh
          if git diff --exit-code HEAD; then
            echo -e "\033[0;32mDocumentation up to date\033[0m ✔"
          else
            echo -e "\033[0;31mDocumentation outdated! Please run generate-docs.sh locally and push the changes.\033[0m ❌"
            git diff --color
            exit 1
          fi

      - name: Check if changelogs were updated
        run: .github/check-chart-changelog.sh

      - name: Update dependencies
        run: find charts/ ! -path charts/ -maxdepth 1 -type d -exec helm dependency update {} \;

      - name: Run YAML lint
        run: yamllint .

      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct/ct.yaml

      - name: Run ArtifactHub lint
        run: ah lint --kind=helm

      - name: Cache kubeconform schemas
        id: cache-powerlint-kubeconform
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /tmp
          key: ${{ runner.os }}-powerlint-kubeconform

      - name: Run Powerlint
        env:
          KUBERNETES_VERSIONS: "1.31.0 1.32.0 1.33.0"
        run: chart-powerlint.sh

      # used to test whether the changelog generation process works
      - name: Generate changelogs (test)
        run: generate-chart-changelog.sh

      # used to test whether the kubescape reports generation works
      # otherwise it is only run in the release job
      - name: Generate kubescape reports
        run: |
          kubescape scan framework AllControls --keep-local --format=html --output=kubescape-reports/allcontrols.html charts/

  test:
    name: Test Charts
    runs-on: ubuntu-24.04
    needs:
      - chart-lint
    strategy:
      matrix:
        k8s-version: [1.33.7, 1.34.3, 1.35.0]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs
          disable-sudo: true
          disable-telemetry: true

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "4.0.4"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/ct/install.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "${GITHUB_OUTPUT}"
          fi

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc # v1.14.0
        if: ${{ steps.list-changed.outputs.changed == 'true' }}
        with:
          cluster_name: kind-cluster-k8s-${{ matrix.k8s-version }}
          node_image: kindest/node:v${{ matrix.k8s-version }}

      - name: Install test fixtures chart
        if: ${{ steps.list-changed.outputs.changed == 'true' }}
        run: |
          kubectl create namespace fixtures
          helm dependency build hack/test-fixtures/
          helm template \
            --namespace=fixtures \
            test-fixtures hack/test-fixtures/ | kubectl apply --server-side=true -f -

      - name: Run chart-testing (install)
        if: ${{steps.list-changed.outputs.changed == 'true'}}
        run: ct install --config .github/ct/install.yaml

  lint:
    uses: miracum/.github/.github/workflows/standard-lint.yaml@0fe32a245f1e9e2199a0293a3a5fea12774beef7 # v1.20.2
    permissions:
      contents: read
      pull-requests: write
      issues: write
      security-events: write
      actions: read
    with:
      enable-validate-gradle-wrapper: false
      enable-codeql: false
      enable-verify-base-image-signature: false
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
