name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - "charts/**"

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  release:
    name: Release Charts
    runs-on: ubuntu-24.04
    container: ghcr.io/chgl/kube-powertools:v2.5.15@sha256:d7050c728f9f73b55531d71aa5e1be8509a7764d9dd1c3c8eed578aee3c2ac88
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Add workspace as safe directory
        run: |
          git config --global --add safe.directory /__w/charts/charts

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Add Helm chart dependency repos
        run: |
          helm repo add codecentric https://codecentric.github.io/helm-charts
          helm repo add hapifhir https://hapifhir.github.io/hapi-fhir-jpaserver-starter
          helm repo add trinodb https://trinodb.github.io/charts

      - name: Update dependencies
        run: find charts/ -maxdepth 1 ! -path charts/ -type d -exec helm dependency update {} \;

      - name: Generate changelogs
        run: generate-chart-changelog.sh

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          config: .github/ct/ct.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Login to GitHub Container Registry
        env:
          GHCR_REGISTRY_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"
          GITHUB_ACTOR: "${{ github.actor }}"
        run: |
          # used by helm
          echo "${GHCR_REGISTRY_PASSWORD}" | helm registry login ghcr.io --username "${GITHUB_ACTOR}" --password-stdin
          # used by cosign
          echo "${GHCR_REGISTRY_PASSWORD}" | crane auth login ghcr.io --username "${GITHUB_ACTOR}" --password-stdin

      - name: Push Charts to ghcr.io
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY}" 2> .digest
            OCI_ARTIFACT_PATH="$(awk -F "[, ]+" '/Pushed/{print $NF}' < .digest)"
            OCI_ARTIFACT_DIGEST="$(awk -F "[, ]+" '/Digest/{print $NF}' < .digest)"
            cosign sign --yes "${OCI_ARTIFACT_PATH}@${OCI_ARTIFACT_DIGEST}"
          done

      - name: Generate kubescape reports
        run: |
          kubescape scan framework AllControls --keep-local --format=html --output=kubescape-reports/allcontrols.html charts/

      - name: "Upload kubescape reports"
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: kubescape-reports
          path: kubescape-reports/
          retention-days: 5

  update-kubescape-reports:
    name: Update Kubescape Reports
    runs-on: ubuntu-24.04
    container: ghcr.io/chgl/kube-powertools:v2.5.15@sha256:d7050c728f9f73b55531d71aa5e1be8509a7764d9dd1c3c8eed578aee3c2ac88
    permissions:
      contents: write
    needs:
      - release
    steps:
      - name: Add workspace as safe directory
        run: |
          git config --global --add safe.directory /__w/charts/charts

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: gh-pages
          persist-credentials: true

      - name: Download reports
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: kubescape-reports
          path: "kubescape-reports/"

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          add: "kubescape-reports/"
          message: "docs: updated kubescape reports"
