name: Renovate
on:
  schedule:
    - cron: "0 */2 * * *"
  push:
    branches:
      - master
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-24.04
    if: ${{ github.repository == 'miracum/charts' }}
    name: renovate
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            charts

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          token: "${{ steps.app-token.outputs.token }}"
          mount-docker-socket: true
        env:
          LOG_LEVEL: "debug"
          RENOVATE_REPOSITORIES: "${{ github.repository }}"
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: ".*"
